<!DOCTYPE html> 
<html> 
<body> 

	<b>Login page to do:</b><br>
	<ul>
		<li>This page should contain a login form</li>
		<li>Integrate validation</li>
		<li>Integrate message for validation</li>
		<li>Exemple: <a href="https://getbootstrap.com/docs/4.2/examples/floating-labels/" target="_blank">https://getbootstrap.com/docs/4.2/examples/floating-labels/</a>
  	</ul>

	<form class="login" method="POST" action="/login/validate">
		<h1 class="login-title">Login form</h1>
		<p>{{ message }}</p>
		<input type="text" name="username" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<input type="submit" value="Submit">
	</form>
	<br>

  	<a href="/">Back</a>
	
</body> 
</html> 
