<!DOCTYPE html> 
<html> 
<head>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<script src="/assets/js/vue.2.5.17.js"></script>
</head>
<body> 

	<b>Dashboard to do</b><br>
	<ul>
		<li>This page should be not accessible if user isn't logged in</li>
		<li>Integrate actions that give abitlies to user for editing his notes ex: delete/update</li>
		<li>Display information on the connected user</li>
		<li>Create a logout button</li>
  	</ul>
  	<br>

  	<b>User notes Vue.js</b><br>
  	<p class="ps">* We integrated a basic VueJs app here. There no constraint on the tecnologie and feel free to another javascript framework if you are not confortable with <a href="https://vuejs.org" target="_blank">https://vuejs.org</a></p>
  	<div id="notes"></div>

  	<a href="/">Back</a>

  	<script type="text/javascript">
		var dashboard = new Vue({
			el : "#notes",
			data : function(){
				return {
					notes : {{ notes|json_encode|raw }}
				}
			},
			template : `{{ source("notes.vue.twig") }}`
		});
	</script>
	
</body> 
</html> 
